<%if author.avatar.present?%>
  <div>
    <img src='<%= author.avatar %>' id="crop" alt="" class="round">
  </div>
<% else %>
  <div>
    <img src='https://alliancebjjmn.com/wp-content/uploads/2019/07/placeholder-profile-sq.jpg'  id="crop" alt="" class="round"  />
  </div>
<% end %>